.wrapper {
  display: flex;
  height: 326px;
  margin: 50px 0 70px;
  padding: 36px 24px;
  background-color: var(--dark);
  border-radius: 46px;
}

.studies {
  margin: 24px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 60px;
}

.studies-2 {
  border-left: 1px solid var(--light);
  border-right: 1px solid var(--light);
}

.heading {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--light);
}

.more {
  font-size: 2rem;
  font-weight: 400;
}

// Mobile
@media (max-width: 767px) {
  .wrapper {
    height: auto;
    flex-direction: column;
    margin-left: 6px;
    margin-right: 6px;
  }

  .studies {
    margin: 0;
    align-items: center;
    gap: 12px;
    padding: 24px 48px;
  }

  .studies-2 {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--light);
    border-top: 1px solid var(--light);
  }
}
